In [164]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://zucwflxqsxrsmwseehqvjmnx2u0cdigp.lambda-url.ap-south-1.on.aws/mentorskool/v1/sales'

response = requests.get(url, headers = {"access_token":"fe66583bfe5185048c66571293e0d358"}, params = {"offset":30})

response.json()

{'data': [{'id': 7244,
   'sales_amt': 124.2,
   'qty': 3,
   'discount': 0.2,
   'profit_amt': 15.525,
   'order': {'order_id': 'CA-2017-118892',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-07-03 10:30:00',
    'order_approved_at': '2018-07-05 16:40',
    'order_delivered_carrier_date': '2018-07-03 13:12',
    'order_delivered_customer_date': '2018-07-04 22:42',
    'order_estimated_delivery_date': '2018-07-16',
    'customer': {'customer_id': 'TP-21415',
     'customer_name': 'Tom Prescott',
     'segment': 'Consumer',
     'contact_number': '+1 320-511-1041',
     'address': {'zip_code': 90036,
      'region': 'West',
      'country': 'United States',
      'city': 'los angeles',
      'state': 'california'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'FUR-FU-10004848',
    'product_name': 'Howard Miller 13-3/4" Diameter Brushed Chrome Round Wall Clock',
    'colors': 'Blue',
    'category': 'Furniture',
    'sub_category': 'Furnishings',
    'date_added': '2016-04-14',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 155000000000,
    'weight': 'null',
    'product_photos_qty': 2}},
  {'id': 9742,
   'sales_amt': 3.264,
   'qty': 2,
   'discount': 0.2,
   'profit_amt': 1.1016,
   'order': {'order_id': 'CA-2015-117086',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-03-28 16:16:00',
    'order_approved_at': '2018-03-30 03:08',
    'order_delivered_carrier_date': '2018-04-02 22:21',
    'order_delivered_customer_date': '2018-04-03 15:04',
    'order_estimated_delivery_date': '2018-04-10',
    'customer': {'customer_id': 'QJ-19255',
     'customer_name': 'Quincy Jones',
     'segment': 'Corporate',
     'contact_number': '+1 206-578-2372',
     'address': {'zip_code': 33065,
      'region': 'South',
      'country': 'United States',
      'city': 'coral springs',
      'state': 'florida'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'OFF-EN-10001509',
    'product_name': 'Poly String Tie Envelopes',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Envelopes',
    'date_added': '2016-11-15',
    'manufacturer': 'New Balance',
    'sizes': '7,7.5,15,11.5,8,13,14,12.5,9',
    'upc': 890000000000,
    'weight': 'null',
    'product_photos_qty': 6}},
  {'id': 4298,
   'sales_amt': 86.304,
   'qty': 6,
   'discount': 0.2,
   'profit_amt': 9.7092,
   'order': {'order_id': 'CA-2017-129021',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-12-05 09:18:00',
    'order_approved_at': '2017-12-06 02:50',
    'order_delivered_carrier_date': '2017-12-06 19:51',
    'order_delivered_customer_date': '2017-12-15 17:11',
    'order_estimated_delivery_date': '2018-01-04',
    'customer': {'customer_id': 'PO-18850',
     'customer_name': "Patrick O'Brill",
     'segment': 'Consumer',
     'contact_number': '+1 505-706-9275',
     'address': {'zip_code': 33180,
      'region': 'South',
      'country': 'United States',
      'city': 'miami',
      'state': 'florida'}},
    'vendor': {'VendorID': 'VEN01', 'Vendor Name': 'Velocity Logistics'}},
   'product': {'product_id': 'OFF-AR-10004042',
    'product_name': 'BOSTON Model 1800 Electric Pencil Sharpeners, Putty/Woodgrain',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Art',
    'date_added': '2016-10-05',
    'manufacturer': 'Italian Shoe Makers',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 2}},
  {'id': 354,
   'sales_amt': 6.858,
   'qty': 6,
   'discount': 0.7,
   'profit_amt': -5.715,
   'order': {'order_id': 'CA-2016-129714',
    'ship_mode': 'First Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-08-07 08:08:00',
    'order_approved_at': '2018-08-07 08:44',
    'order_delivered_carrier_date': '2018-08-08 13:06',
    'order_delivered_customer_date': '2018-08-13 17:36',
    'order_estimated_delivery_date': '2018-08-24',
    'customer': {'customer_id': 'AB-10060',
     'customer_name': 'Adam Bellavance',
     'segment': 'Home Office',
     'contact_number': '+1 206-431-9519',
     'address': {'zip_code': 85204,
      'region': 'West',
      'country': 'United States',
      'city': 'mesa',
      'state': 'arizona'}},
    'vendor': {'VendorID': 'VEN04', 'Vendor Name': 'Johnsons Logistics'}},
   'product': {'product_id': 'OFF-BI-10001525',
    'product_name': 'Acco Pressboard Covers with Storage Hooks, 14 7/8" x 11", Executive Red',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Binders',
    'date_added': '2017-01-27',
    'manufacturer': 'null',
    'sizes': '11.5,11,12',
    'upc': 888000000000,
    'weight': 'null',
    'product_photos_qty': 2}},
  {'id': 9271,
   'sales_amt': 15.76,
   'qty': 2,
   'discount': 0.2,
   'profit_amt': 3.546,
   'order': {'order_id': 'US-2017-102183',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-11-28 00:37:00',
    'order_approved_at': '2017-11-28 01:31',
    'order_delivered_carrier_date': '2017-11-29 19:10',
    'order_delivered_customer_date': '2017-12-06 17:57',
    'order_estimated_delivery_date': '2017-12-18',
    'customer': {'customer_id': 'PK-19075',
     'customer_name': 'Pete Kriz',
     'segment': 'Consumer',
     'contact_number': '+1 213-609-2584',
     'address': {'zip_code': 80027,
      'region': 'West',
      'country': 'United States',
      'city': 'louisville',
      'state': 'colorado'}},
    'vendor': {'VendorID': 'VEN01', 'Vendor Name': 'Velocity Logistics'}},
   'product': {'product_id': 'OFF-AR-10001683',
    'product_name': 'Lumber Crayons',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Art',
    'date_added': '2016-03-23',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 0}},
  {'id': 9640,
   'sales_amt': 29.472,
   'qty': 3,
   'discount': 0.2,
   'profit_amt': 9.9468,
   'order': {'order_id': 'CA-2015-116638',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-07-17 16:18:00',
    'order_approved_at': '2017-07-17 16:35',
    'order_delivered_carrier_date': '2017-07-24 17:39',
    'order_delivered_customer_date': '2017-07-31 21:10',
    'order_estimated_delivery_date': '2017-08-11',
    'customer': {'customer_id': 'JH-15985',
     'customer_name': 'Joseph Holt',
     'segment': 'Consumer',
     'contact_number': '+1 518-230-5699',
     'address': {'zip_code': 73120,
      'region': 'Central',
      'country': 'United States',
      'city': 'oklahoma city',
      'state': 'oklahoma'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'OFF-PA-10000249',
    'product_name': 'Easy-staple paper',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Paper',
    'date_added': '2017-01-09',
    'manufacturer': 'null',
    'sizes': '8.5,10,6,9.5,6.5,8',
    'upc': 41969077931,
    'weight': 'null',
    'product_photos_qty': 0}},
  {'id': 5918,
   'sales_amt': 1097.544,
   'qty': 7,
   'discount': 0.2,
   'profit_amt': 123.4737,
   'order': {'order_id': 'US-2015-126977',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-06-16 18:31:00',
    'order_approved_at': '2018-06-16 18:57',
    'order_delivered_carrier_date': '2018-06-19 15:10',
    'order_delivered_customer_date': '2018-06-21 17:48',
    'order_estimated_delivery_date': '2018-06-29',
    'customer': {'customer_id': 'PF-19120',
     'customer_name': 'Peter Fuller',
     'segment': 'Consumer',
     'contact_number': '+1 505-927-6698',
     'address': {'zip_code': 74012,
      'region': 'Central',
      'country': 'United States',
      'city': 'broken arrow',
      'state': 'oklahoma'}},
    'vendor': {'VendorID': 'VEN03', 'Vendor Name': 'Voyage Enterprises'}},
   'product': {'product_id': 'TEC-PH-10004977',
    'product_name': 'GE 30524EE4',
    'colors': 'Pink',
    'category': 'Technology',
    'sub_category': 'Phones',
    'date_added': '2016-10-05',
    'manufacturer': 'Kenneth Cole Reaction',
    'sizes': 'null',
    'upc': 888000000000,
    'weight': 'null',
    'product_photos_qty': 1}},
  {'id': 3281,
   'sales_amt': 190.92,
   'qty': 5,
   'discount': 0.6,
   'profit_amt': -147.963,
   'order': {'order_id': 'CA-2014-102988',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-07-18 15:49:00',
    'order_approved_at': '2017-07-18 16:03',
    'order_delivered_carrier_date': '2017-07-20 13:13',
    'order_delivered_customer_date': '2017-08-03 20:03',
    'order_estimated_delivery_date': '2017-08-11',
    'customer': {'customer_id': 'GM-14695',
     'customer_name': 'Greg Maxwell',
     'segment': 'Corporate',
     'contact_number': '+1 430-843-9872',
     'address': {'zip_code': 98103,
      'region': 'West',
      'country': 'United States',
      'city': 'seattle',
      'state': 'washington'}},
    'vendor': {'VendorID': 'VEN05', 'Vendor Name': 'Seahawk Logistics'}},
   'product': {'product_id': 'FUR-FU-10003664',
    'product_name': "Electrix Architect's Clamp-On Swing Arm Lamp, Black",
    'colors': 'Black',
    'category': 'Furniture',
    'sub_category': 'Furnishings',
    'date_added': '2016-04-01',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 601000000000,
    'weight': 'null',
    'product_photos_qty': 4}},
  {'id': 6621,
   'sales_amt': 113.328,
   'qty': 9,
   'discount': 0.2,
   'profit_amt': 35.415,
   'order': {'order_id': 'US-2017-167402',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-11-12 21:43:00',
    'order_approved_at': '2017-11-12 21:55',
    'order_delivered_carrier_date': '2017-11-16 17:06',
    'order_delivered_customer_date': '2017-11-28 17:21',
    'order_estimated_delivery_date': '2017-11-27',
    'customer': {'customer_id': 'CP-12085',
     'customer_name': 'Cathy Prescott',
     'segment': 'Corporate',
     'contact_number': '+1 505-577-5778',
     'address': {'zip_code': 94122,
      'region': 'West',
      'country': 'United States',
      'city': 'san francisco',
      'state': 'california  '}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'OFF-EN-10002986',
    'product_name': '#10-4 1/8" x 9 1/2" Premium Diagonal Seam Envelopes',
    'colors': 'Black',
    'category': 'Office Supplies',
    'sub_category': 'Envelopes',
    'date_added': '2015-12-01',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 2}},
  {'id': 6015,
   'sales_amt': 532.3992,
   'qty': 3,
   'discount': 0.32,
   'profit_amt': -46.9764,
   'order': {'order_id': 'CA-2016-159016',
    'ship_mode': 'First Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-07-28 11:25:00',
    'order_approved_at': '2017-07-28 11:35',
    'order_delivered_carrier_date': '2017-07-28 19:58',
    'order_delivered_customer_date': '2017-08-07 20:41',
    'order_estimated_delivery_date': '2017-08-17',
    'customer': {'customer_id': 'KF-16285',
     'customer_name': 'Karen Ferguson',
     'segment': 'Home Office',
     'contact_number': '+1 231-747-3480',
     'address': {'zip_code': 93727,
      'region': 'West',
      'country': 'United States',
      'city': 'fresno',
      'state': 'california'}},
    'vendor': {'VendorID': 'VEN03', 'Vendor Name': 'Voyage Enterprises'}},
   'product': {'product_id': 'FUR-BO-10002545',
    'product_name': 'Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors',
    'colors': 'Blue',
    'category': 'Furniture',
    'sub_category': 'Bookcases',
    'date_added': '2016-10-05',
    'manufacturer': 'Jordan',
    'sizes': '10,10.5,11,11.5,12,13,14,8,8.5,9,9.5',
    'upc': 887000000000,
    'weight': 'null',
    'product_photos_qty': 0}},
  {'id': 6536,
   'sales_amt': 212.058,
   'qty': 3,
   'discount': 0.3,
   'profit_amt': -15.147,
   'order': {'order_id': 'CA-2014-128209',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-06-30 12:14:00',
    'order_approved_at': '2018-07-05 16:27',
    'order_delivered_carrier_date': '2018-07-03 10:18',
    'order_delivered_customer_date': '2018-07-11 14:52',
    'order_estimated_delivery_date': '2018-08-01',
    'customer': {'customer_id': 'GT-14710',
     'customer_name': 'Greg Tran',
     'segment': 'Consumer',
     'contact_number': '+1 582-333-5365',
     'address': {'zip_code': 78745,
      'region': 'Central',
      'country': 'United States',
      'city': 'austin',
      'state': 'texas'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'FUR-CH-10004218',
    'product_name': "Global Fabric Manager's Chair, Dark Gray",
    'colors': 'Blue',
    'category': 'Furniture',
    'sub_category': 'Chairs',
    'date_added': '2017-01-12',
    'manufacturer': 'Nike',
    'sizes': 'null',
    'upc': 91207259940,
    'weight': 'null',
    'product_photos_qty': 0}},
  {'id': 2183,
   'sales_amt': 371.168,
   'qty': 4,
   'discount': 0.2,
   'profit_amt': 41.7564,
   'order': {'order_id': 'CA-2016-128818',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-06-27 10:16:00',
    'order_approved_at': '2018-06-27 11:06',
    'order_delivered_carrier_date': '2018-06-27 11:42',
    'order_delivered_customer_date': '2018-06-28 17:51',
    'order_estimated_delivery_date': '2018-07-12',
    'customer': {'customer_id': 'CJ-12010',
     'customer_name': 'Caroline Jumper',
     'segment': 'Consumer',
     'contact_number': '+1 318-841-2201',
     'address': {'zip_code': 23666,
      'region': 'South',
      'country': 'United States',
      'city': 'hampton',
      'state': 'virginia'}},
    'vendor': {'VendorID': 'VEN04', 'Vendor Name': 'Johnsons Logistics'}},
   'product': {'product_id': 'TEC-PH-10000486',
    'product_name': 'Plantronics HL10 Handset Lifter',
    'colors': 'Blue',
    'category': 'Technology',
    'sub_category': 'Phones',
    'date_added': '2016-08-27',
    'manufacturer': 'SNEED',
    'sizes': 'null',
    'upc': 'null',
    'weight': '599 g',
    'product_photos_qty': 2}},
  {'id': 319,
   'sales_amt': 147.168,
   'qty': 4,
   'discount': 0.2,
   'profit_amt': 16.5564,
   'order': {'order_id': 'CA-2014-164973',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-03-01 22:03:00',
    'order_approved_at': '2017-03-03 02:15',
    'order_delivered_carrier_date': '2017-03-03 11:35',
    'order_delivered_customer_date': '2017-03-13 11:52',
    'order_estimated_delivery_date': '2017-04-05',
    'customer': {'customer_id': 'NM-18445',
     'customer_name': 'Nathan Mautz',
     'segment': 'Home Office',
     'contact_number': '+1 201-346-6959',
     'address': {'zip_code': 14609,
      'region': 'East',
      'country': 'United States',
      'city': 'rochester',
      'state': 'new york'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'TEC-PH-10004093',
    'product_name': 'Panasonic Kx-TS550',
    'colors': 'Blue',
    'category': 'Technology',
    'sub_category': 'Phones',
    'date_added': '2017-01-27',
    'manufacturer': 'Totes',
    'sizes': '8 M,10 M,7 M,11 M,6 M,9 M',
    'upc': 49129295768,
    'weight': 'null',
    'product_photos_qty': 3}},
  {'id': 5199,
   'sales_amt': 77.88,
   'qty': 2,
   'discount': 0.0,
   'profit_amt': 3.894,
   'order': {'order_id': 'CA-2016-103982',
    'ship_mode': 'Standard Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-06-22 15:53:00',
    'order_approved_at': '2017-06-22 16:05',
    'order_delivered_carrier_date': '2017-06-23 12:05',
    'order_delivered_customer_date': '2017-06-27 12:32',
    'order_estimated_delivery_date': '2017-07-05',
    'customer': {'customer_id': 'AA-10315',
     'customer_name': 'Alex Avila',
     'segment': 'Consumer',
     'contact_number': '582-262-8228',
     'address': {'zip_code': 55407,
      'region': 'Central',
      'country': 'United States',
      'city': 'minneapolis',
      'state': 'minnesota'}},
    'vendor': {'VendorID': 'VEN02', 'Vendor Name': 'Seaborne Ltd.'}},
   'product': {'product_id': 'OFF-ST-10003479',
    'product_name': 'Eldon Base for stackable storage shelf, platinum',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Storage',
    'date_added': '2016-01-20',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 3}},
  {'id': 7684,
   'sales_amt': 95.616,
   'qty': 2,
   'discount': 0.2,
   'profit_amt': 9.5616,
   'order': {'order_id': 'CA-2015-120782',
    'ship_mode': 'First Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-07-24 16:14:00',
    'order_approved_at': '2017-07-24 16:25',
    'order_delivered_carrier_date': '2017-07-24 21:24',
    'order_delivered_customer_date': '2017-08-01 16:38',
    'order_estimated_delivery_date': '2017-08-15',
    'customer': {'customer_id': 'SD-20485',
     'customer_name': 'Shirley Daniels',
     'segment': 'Home Office',
     'contact_number': '+1 314-627-4061',
     'address': {'zip_code': 90049,
      'region': 'West',
      'country': 'United States',
      'city': 'los angeles',
      'state': 'california'}},
    'vendor': {'VendorID': 'VEN04', 'Vendor Name': 'Johnsons Logistics'}},
   'product': {'product_id': 'OFF-ST-10003282',
    'product_name': 'Advantus 10-Drawer Portable Organizer, Chrome Metal Frame, Smoke Drawers',
    'colors': 'Blue',
    'category': 'Office Supplies',
    'sub_category': 'Storage',
    'date_added': '2016-03-30',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 0}},
  {'id': 9426,
   'sales_amt': 45.98,
   'qty': 2,
   'discount': 0.0,
   'profit_amt': 19.7714,
   'order': {'order_id': 'CA-2014-116246',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2017-03-14 14:29:00',
    'order_approved_at': '2017-03-14 14:29',
    'order_delivered_carrier_date': '2017-03-16 16:57',
    'order_delivered_customer_date': '2017-03-24 08:37',
    'order_estimated_delivery_date': '2017-04-06',
    'customer': {'customer_id': 'LW-17215',
     'customer_name': 'Luke Weiss',
     'segment': 'Consumer',
     'contact_number': '+1 218-320-8646',
     'address': {'zip_code': 90004,
      'region': 'West',
      'country': 'United States',
      'city': 'los angeles',
      'state': 'california'}},
    'vendor': {'VendorID': 'VEN03', 'Vendor Name': 'Voyage Enterprises'}},
   'product': {'product_id': 'TEC-AC-10000171',
    'product_name': 'Verbatim 25 GB 6x Blu-ray Single Layer Recordable Disc, 25/Pack',
    'colors': 'Blue',
    'category': 'Technology',
    'sub_category': 'Accessories',
    'date_added': '2016-03-21',
    'manufacturer': 'null',
    'sizes': 'null',
    'upc': 'null',
    'weight': 'null',
    'product_photos_qty': 3}},
  {'id': 1247,
   'sales_amt': 17.46,
   'qty': 2,
   'discount': 0.0,
   'profit_amt': 8.2062,
   'order': {'order_id': 'CA-2014-168494',
    'ship_mode': 'Second Class',
    'order_status': 'delivered',
    'order_purchase_date': '2018-03-09 20:07:00',
    'order_approved_at': '2018-03-09 20:40',
    'order_delivered_carrier_date': '2018-03-12 21:21',
    'order_delivered_customer_date': '2018-03-16 00:32',
    'order_estimated_delivery_date': '2018-03-21',
    'customer': {'customer_id': 'NP-18700',
     'customer_name': 'Nora Preis',
     'segment': 'Consumer',
     'contact_number': '+1 582-333-1447',

In [3]:
fetch_records = []
fetch_record_order = []
fetch_record_product = []
final_df = []
url = 'https://zucwflxqsxrsmwseehqvjmnx2u0cdigp.lambda-url.ap-south-1.on.aws/mentorskool/v1/sales'
offset = 0
limit = 100
headers = {'access_token' : 'fe66583bfe5185048c66571293e0d358'}
for i in range(5):
    params = {'offset': offset, 'limit': limit}
    response = requests.get(url, headers = headers , params = params)
    data = response.json()
    fetch_records.extend(data["data"])
    offset+=limit

df = pd.DataFrame.from_dict(fetch_records, orient='columns')

In [4]:
df

,id,sales_amt,qty,discount,profit_amt,order,product
0,4102,2.0000,0,72.948,null,"{'order_id': 'US-2017-102288', 'ship_mode': 'S...","{'product_id': 'OFF-AP-10002684', 'product_nam..."
1,2698,261.9600,2,0.000,41.9136,"{'order_id': 'CA-2014-145317', 'ship_mode': 'S...","{'product_id': 'FUR-BO-10001798', 'product_nam..."
2,6827,731.9400,3,0.000,219.582,"{'order_id': 'CA-2016-118689', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10000454', 'product_nam..."
3,8154,14.6200,2,0.000,6.8714,"{'order_id': 'CA-2017-140151', 'ship_mode': 'F...","{'product_id': 'OFF-LA-10000240', 'product_nam..."
4,2624,957.5775,5,0.450,-383.031,"{'order_id': 'CA-2017-127180', 'ship_mode': 'F...","{'product_id': 'FUR-TA-10000577', 'product_nam..."
...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,"{'order_id': 'CA-2016-112697', 'ship_mode': 'S...","{'product_id': 'FUR-TA-10001857', 'product_nam..."
496,336,105.4200,2,0.000,51.6558,"{'order_id': 'CA-2015-137946', 'ship_mode': 'S...","{'product_id': 'OFF-EN-10001434', 'product_nam..."
497,5569,119.6160,8,0.200,40.3704,"{'order_id': 'CA-2017-157966', 'ship_mode': 'S...","{'product_id': 'OFF-BI-10002498', 'product_nam..."
498,8821,255.7600,4,0.000,81.8432,"{'order_id': 'CA-2017-100622', 'ship_mode': 'S...","{'product_id': 'FUR-FU-10004864', 'product_nam..."
499,2898,241.5680,2,0.200,18.1176,"{'order_id': 'US-2016-164630', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10002602', 'product_nam..."

In [6]:
df1 = pd.json_normalize(fetch_records)
df1

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.product_name,product.colors,product.category,product.sub_category,product.date_added,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty
0,4102,2.0000,0,72.948,null,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,...,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Blue,Office Supplies,Appliances,2017-01-17,null,7,826000000000,null,0
1,2698,261.9600,2,0.000,41.9136,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,...,Bush Somerset Collection Bookcase,Pink,Furniture,Bookcases,2016-04-01,null,9,640000000000,null,4
2,6827,731.9400,3,0.000,219.582,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Pink,Furniture,Chairs,2016-11-04,null,"10,7,6,9,8",664000000000,null,2
3,8154,14.6200,2,0.000,6.8714,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,...,Self-Adhesive Address Labels for Typewriters b...,Pink,Office Supplies,Labels,2016-08-01,null,11.5,887000000000,null,3
4,2624,957.5775,5,0.450,-383.031,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,...,Bretford CR4500 Series Slim Rectangular Table,Blue,Furniture,Tables,2016-11-15,null,"10.5,10,8.5,8,13",888000000000,null,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,CA-2016-112697,Second Class,delivered,2018-06-13 16:07:00,2018-06-13 16:39,...,Balt Solid Wood Rectangular Table,Pink,Furniture,Tables,2016-11-15,VANS,null,190000000000,null,0
496,336,105.4200,2,0.000,51.6558,CA-2015-137946,Second Class,delivered,2018-03-16 10:34:00,2018-03-17 02:45,...,"Strathmore #10 Envelopes, Ultimate White",Pink,Office Supplies,Envelopes,2015-11-16,null,S,888000000000,null,4
497,5569,119.6160,8,0.200,40.3704,CA-2017-157966,Same Day,delivered,2018-03-08 15:59:00,2018-03-08 16:30,...,Clear Mylar Reinforcing Strips,Pink,Office Supplies,Binders,2016-02-21,null,null,713000000000,null,3
498,8821,255.7600,4,0.000,81.8432,CA-2017-100622,Standard Class,delivered,2018-03-01 21:16:00,2018-03-01 21:30,...,"Howard Miller 14-1/2"" Diameter Chrome Round Wa...",Pink,Furniture,Furnishings,2017-01-27,Franco Sarto,"8.5,9.5,7.5,9,8,11",720000000000,null,0
499,2898,241.5680,2,0.200,18.1176,US-2016-164630,Standard Class,delivered,2018-03-15 18:39:00,2018-03-15 18:50,...,DMI Arturo Collection Mission-style Design Woo...,Pink,Furniture,Chairs,2016-03-15,null,null,882000000000,null,4

In [9]:
df1['item_count'] = df1['product.sizes'].apply(len)

In [8]:
max_value = df1['item_count'].max()

In [10]:
max_index = df1['item_count'].idxmax()
row_with_max_value = df1.loc[max_index]
row_with_max_value

id                                                                                  5321
sales_amt                                                                           4.72
qty                                                                                    2
discount                                                                             0.2
profit_amt                                                                         1.652
order.order_id                                                            US-2017-162558
order.ship_mode                                                              First Class
order.order_status                                                             delivered
order.order_purchase_date                                            2018-05-18 13:22:00
order.order_approved_at                                                 2018-05-18 13:36
order.order_delivered_carrier_date                                      2018-05-21 14:58
order.order_delivered_customer_date                                     2018-06-05 17:41
order.order_estimated_delivery_date                                           2018-06-07
order.customer.customer_id                                                      Dp-13240
order.customer.customer_name                                                 Dean percer
order.customer.segment                                                       Home Office
order.customer.contact_number                                            +1 505-644-3874
order.customer.address.zip_code                                                    32216
order.customer.address.region                                                      South
order.customer.address.country                                             United States
order.customer.address.city                                                 jacksonville
order.customer.address.state                                                     florida
order.vendor.VendorID                                                              VEN02
order.vendor.Vendor Name                                                   Seaborne Ltd.
product.product_id                                                       OFF-EN-10002600
product.product_name                             Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2
product.colors                                                                      Blue
product.category                                                         Office Supplies
product.sub_category                                                           Envelopes
product.date_added                                                            2016-11-01
product.manufacturer                                                                Drew
product.sizes                          7.5W,12.5M,11.5M,14W,12.5W,10W,10.5M,14M,7M,7....
product.upc                                                                         null
product.weight                                                                      null
product.product_photos_qty                                                             0
item_count                                                                           259
Name: 115, dtype: object

In [14]:
matching_rows = df1[df1['product.product_name'] == 'Mitel 5320 IP Phone VoIP phone']

matching_rows

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.colors,product.category,product.sub_category,product.date_added,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty,item_count
8,4278,907.152,6,0.2,90.7152,US-2016-107440,Standard Class,delivered,2018-02-18 20:49:00,2018-02-18 21:50,...,Blue,Technology,Phones,2016-11-01,SCRUB ZONE,null,709000000000,null,0,4

In [18]:
from datetime import datetime
df1['order_purchase_date'] = pd.to_datetime(df1['order.order_purchase_date'])

In [19]:
df1

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.category,product.sub_category,product.date_added,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty,item_count,order_purchase_date
0,4102,2.0000,0,72.948,null,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,...,Office Supplies,Appliances,2017-01-17,null,7,826000000000,null,0,1,2017-11-24 15:58:00
1,2698,261.9600,2,0.000,41.9136,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,...,Furniture,Bookcases,2016-04-01,null,9,640000000000,null,4,1,2018-07-11 19:46:00
2,6827,731.9400,3,0.000,219.582,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,...,Furniture,Chairs,2016-11-04,null,"10,7,6,9,8",664000000000,null,2,10,2018-05-15 20:24:00
3,8154,14.6200,2,0.000,6.8714,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,...,Office Supplies,Labels,2016-08-01,null,11.5,887000000000,null,3,4,2018-02-28 13:40:00
4,2624,957.5775,5,0.450,-383.031,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,...,Furniture,Tables,2016-11-15,null,"10.5,10,8.5,8,13",888000000000,null,0,16,2018-01-07 21:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,CA-2016-112697,Second Class,delivered,2018-06-13 16:07:00,2018-06-13 16:39,...,Furniture,Tables,2016-11-15,VANS,null,190000000000,null,0,4,2018-06-13 16:07:00
496,336,105.4200,2,0.000,51.6558,CA-2015-137946,Second Class,delivered,2018-03-16 10:34:00,2018-03-17 02:45,...,Office Supplies,Envelopes,2015-11-16,null,S,888000000000,null,4,1,2018-03-16 10:34:00
497,5569,119.6160,8,0.200,40.3704,CA-2017-157966,Same Day,delivered,2018-03-08 15:59:00,2018-03-08 16:30,...,Office Supplies,Binders,2016-02-21,null,null,713000000000,null,3,4,2018-03-08 15:59:00
498,8821,255.7600,4,0.000,81.8432,CA-2017-100622,Standard Class,delivered,2018-03-01 21:16:00,2018-03-01 21:30,...,Furniture,Furnishings,2017-01-27,Franco Sarto,"8.5,9.5,7.5,9,8,11",720000000000,null,0,18,2018-03-01 21:16:00
499,2898,241.5680,2,0.200,18.1176,US-2016-164630,Standard Class,delivered,2018-03-15 18:39:00,2018-03-15 18:50,...,Furniture,Chairs,2016-03-15,null,null,882000000000,null,4,4,2018-03-15 18:39:00

In [52]:
df1['Month'] = df1['order_purchase_date'].dt.month
df1['Year'] = df1['order_purchase_date'].dt.year
df1

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty,item_count,order_purchase_date,Month,profit_perc,Year
0,4102,2.0000,0,72.948,NaN,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,...,None,7,8.260000e+11,None,0,1,2017-11-24 15:58:00,11,0.00,2017
1,2698,261.9600,2,0.000,41.9136,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,...,None,9,6.400000e+11,None,4,1,2018-07-11 19:46:00,7,16.00,2018
2,6827,731.9400,3,0.000,219.5820,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,...,None,"10,7,6,9,8",6.640000e+11,None,2,10,2018-05-15 20:24:00,5,30.00,2018
3,8154,14.6200,2,0.000,6.8714,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,...,None,11.5,8.870000e+11,None,3,4,2018-02-28 13:40:00,2,47.00,2018
4,2624,957.5775,5,0.450,-383.0310,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,...,None,"10.5,10,8.5,8,13",8.880000e+11,None,0,16,2018-01-07 21:45:00,1,-40.00,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.9410,CA-2016-112697,Second Class,delivered,2018-06-13 16:07:00,2018-06-13 16:39,...,VANS,None,1.900000e+11,None,0,4,2018-06-13 16:07:00,6,-50.00,2018
496,336,105.4200,2,0.000,51.6558,CA-2015-137946,Second Class,delivered,2018-03-16 10:34:00,2018-03-17 02:45,...,None,S,8.880000e+11,None,4,1,2018-03-16 10:34:00,3,49.00,2018
497,5569,119.6160,8,0.200,40.3704,CA-2017-157966,Same Day,delivered,2018-03-08 15:59:00,2018-03-08 16:30,...,None,None,7.130000e+11,None,3,4,2018-03-08 15:59:00,3,33.75,2018
498,8821,255.7600,4,0.000,81.8432,CA-2017-100622,Standard Class,delivered,2018-03-01 21:16:00,2018-03-01 21:30,...,Franco Sarto,"8.5,9.5,7.5,9,8,11",7.200000e+11,None,0,18,2018-03-01 21:16:00,3,32.00,2018
499,2898,241.5680,2,0.200,18.1176,US-2016-164630,Standard Class,delivered,2018-03-15 18:39:00,2018-03-15 18:50,...,None,None,8.820000e+11,None,4,4,2018-03-15 18:39:00,3,7.50,2018

In [55]:
pivot_df = df1.pivot_table(index='Month', columns='Year', values=['sales_amt', 'profit_amt'], aggfunc='sum')
pivot_df.reset_index()

     Month profit_amt              sales_amt
Year             2017       2018        2017        2018
0        1   193.5027   712.3662    675.8100  16171.0205
1        2   210.3885  1119.1270   1485.6460   6733.8860
2        3  3665.1133  1464.0951   9417.6420   8200.5850
3        4    83.3615  -139.4440    677.5380   3201.2310
4        5  -853.5801    20.9356  10993.8370   9826.5030
5        6  -952.8544  -344.1645   6201.7020  10942.2788
6        7   140.2883  -224.4033   2829.0652   7097.4166
7        8   471.6602  -822.3034   3636.9510   6769.2340
8        9  -281.3286        NaN   1320.4125         NaN
9       10  1130.7502        NaN   5692.6615         NaN
10      11   365.0812        NaN   3314.8160         NaN
11      12  -617.9495        NaN  14170.7800         NaN

In [65]:
df1 = df1.applymap(lambda x: None if x == 'null' else x)

In [100]:
profit_2017 = pivot_df['profit_amt'].iloc[:, 0]
profit_2018 = pivot_df['profit_amt'].iloc[:, 1]
sales_2017 = pivot_df['sales_amt'].iloc[:, 0]
sales_2018 = pivot_df['sales_amt'].iloc[:, 1]
data_2017 = {"profit": profit_2017, "sales":sales_2017}
data_2018 = {"profit": profit_2018, "sales":sales_2018}
df_2017 = pd.DataFrame(data_2017)
df_2018 = pd.DataFrame(data_2018)

In [104]:
df_2017.reset_index()

    Month     profit       sales
0       1   193.5027    675.8100
1       2   210.3885   1485.6460
2       3  3665.1133   9417.6420
3       4    83.3615    677.5380
4       5  -853.5801  10993.8370
5       6  -952.8544   6201.7020
6       7   140.2883   2829.0652
7       8   471.6602   3636.9510
8       9  -281.3286   1320.4125
9      10  1130.7502   5692.6615
10     11   365.0812   3314.8160
11     12  -617.9495  14170.7800

In [91]:
df_2018.reset_index()

    Month     profit       sales
0       1   712.3662  16171.0205
1       2  1119.1270   6733.8860
2       3  1464.0951   8200.5850
3       4  -139.4440   3201.2310
4       5    20.9356   9826.5030
5       6  -344.1645  10942.2788
6       7  -224.4033   7097.4166
7       8  -822.3034   6769.2340
8       9        NaN         NaN
9      10        NaN         NaN
10     11        NaN         NaN
11     12        NaN         NaN

In [108]:
df_2017["Profit_perc"] = df_2017["profit"]*100/df_2017["sales"]
df_2017

          profit       sales  Profit_perc
Month
1       193.5027    675.8100    28.632707
2       210.3885   1485.6460    14.161415
3      3665.1133   9417.6420    38.917526
4        83.3615    677.5380    12.303590
5      -853.5801  10993.8370    -7.764169
6      -952.8544   6201.7020   -15.364402
7       140.2883   2829.0652     4.958822
8       471.6602   3636.9510    12.968561
9      -281.3286   1320.4125   -21.306115
10     1130.7502   5692.6615    19.863296
11      365.0812   3314.8160    11.013619
12     -617.9495  14170.7800    -4.360730

In [109]:
df_2018["Profit_perc"] = df_2018["profit"]*100/df_2018["sales"]
df_2018

          profit       sales  Profit_perc
Month
1       712.3662  16171.0205     4.405203
2      1119.1270   6733.8860    16.619334
3      1464.0951   8200.5850    17.853545
4      -139.4440   3201.2310    -4.355949
5        20.9356   9826.5030     0.213052
6      -344.1645  10942.2788    -3.145273
7      -224.4033   7097.4166    -3.161760
8      -822.3034   6769.2340   -12.147658
9            NaN         NaN          NaN
10           NaN         NaN          NaN
11           NaN         NaN          NaN
12           NaN         NaN          NaN

In [112]:
df1['order.order_delivered_customer_date']
df1['order.order_estimated_delivery_date']

0      2017-12-21
1      2018-07-27
2      2018-06-18
3      2018-03-28
4      2018-02-07
          ...
495    2018-07-18
496    2018-04-11
497    2018-04-13
498    2018-03-28
499    2018-03-27
Name: order.order_estimated_delivery_date, Length: 500, dtype: object

In [148]:
df_dates = df1.iloc[:,8:13]
df_dates

,order.order_purchase_date,order.order_approved_at,order.order_delivered_carrier_date,order.order_delivered_customer_date,order.order_estimated_delivery_date
0,2017-11-24 15:58:00,2017-11-28 03:18,2017-12-01 19:09,2017-12-15 14:58,2017-12-21
1,2018-07-11 19:46:00,2018-07-13 15:25,2018-07-23 15:07,2018-07-24 14:58,2018-07-27
2,2018-05-15 20:24:00,2018-05-15 20:55,2018-05-29 14:59,2018-06-04 14:42,2018-06-18
3,2018-02-28 13:40:00,2018-03-01 13:35,2018-03-02 00:55,2018-04-03 23:31,2018-03-28
4,2018-01-07 21:45:00,2018-01-07 21:57,2018-01-09 22:44,2018-01-30 20:51,2018-02-07
...,...,...,...,...,...
495,2018-06-13 16:07:00,2018-06-13 16:39,2018-06-18 15:19,2018-06-25 22:05,2018-07-18
496,2018-03-16 10:34:00,2018-03-17 02:45,2018-03-19 21:22,2018-03-26 20:57,2018-04-11
497,2018-03-08 15:59:00,2018-03-08 16:30,2018-03-09 20:13,2018-03-23 17:53,2018-04-13
498,2018-03-01 21:16:00,2018-03-01 21:30,2018-03-07 18:39,2018-03-21 22:03,2018-03-28
499,2018-03-15 18:39:00,2018-03-15 18:50,2018-03-17 00:18,2018-03-17 15:26,2018-03-27

In [149]:
df_dates['order.order_delivered_customer_date'] = pd.to_datetime(df_dates['order.order_delivered_customer_date'])
df_dates['order.order_estimated_delivery_date'] = pd.to_datetime(df_dates['order.order_estimated_delivery_date'])
df_dates['order.order_purchase_date'] = pd.to_datetime(df_dates['order.order_purchase_date'])

In [157]:
df_dates['Delay'] = (df_dates['order.order_delivered_customer_date'] - df_dates['order.order_purchase_date']).dt.days
df_dates

,order.order_purchase_date,order.order_approved_at,order.order_delivered_carrier_date,order.order_delivered_customer_date,order.order_estimated_delivery_date,Delay
0,2017-11-24 15:58:00,2017-11-28 03:18,2017-12-01 19:09,2017-12-15 14:58:00,2017-12-21,20.0
1,2018-07-11 19:46:00,2018-07-13 15:25,2018-07-23 15:07,2018-07-24 14:58:00,2018-07-27,12.0
2,2018-05-15 20:24:00,2018-05-15 20:55,2018-05-29 14:59,2018-06-04 14:42:00,2018-06-18,19.0
3,2018-02-28 13:40:00,2018-03-01 13:35,2018-03-02 00:55,2018-04-03 23:31:00,2018-03-28,34.0
4,2018-01-07 21:45:00,2018-01-07 21:57,2018-01-09 22:44,2018-01-30 20:51:00,2018-02-07,22.0
...,...,...,...,...,...,...
495,2018-06-13 16:07:00,2018-06-13 16:39,2018-06-18 15:19,2018-06-25 22:05:00,2018-07-18,12.0
496,2018-03-16 10:34:00,2018-03-17 02:45,2018-03-19 21:22,2018-03-26 20:57:00,2018-04-11,10.0
497,2018-03-08 15:59:00,2018-03-08 16:30,2018-03-09 20:13,2018-03-23 17:53:00,2018-04-13,15.0
498,2018-03-01 21:16:00,2018-03-01 21:30,2018-03-07 18:39,2018-03-21 22:03:00,2018-03-28,20.0
499,2018-03-15 18:39:00,2018-03-15 18:50,2018-03-17 00:18,2018-03-17 15:26:00,2018-03-27,1.0

In [159]:
count_greater_than_zero = df_dates['Delay'].apply(lambda x: x > 4).sum()
count_greater_than_zero

431

In [161]:
df1.drop(columns=['profit_perc', 'Month', 'Year'], inplace=True)
df1

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.category,product.sub_category,product.date_added,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty,item_count,order_purchase_date
0,4102,2.0000,0,72.948,NaN,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,...,Office Supplies,Appliances,2017-01-17,None,7,8.260000e+11,None,0,1,2017-11-24 15:58:00
1,2698,261.9600,2,0.000,41.9136,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,...,Furniture,Bookcases,2016-04-01,None,9,6.400000e+11,None,4,1,2018-07-11 19:46:00
2,6827,731.9400,3,0.000,219.5820,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,...,Furniture,Chairs,2016-11-04,None,"10,7,6,9,8",6.640000e+11,None,2,10,2018-05-15 20:24:00
3,8154,14.6200,2,0.000,6.8714,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,...,Office Supplies,Labels,2016-08-01,None,11.5,8.870000e+11,None,3,4,2018-02-28 13:40:00
4,2624,957.5775,5,0.450,-383.0310,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,...,Furniture,Tables,2016-11-15,None,"10.5,10,8.5,8,13",8.880000e+11,None,0,16,2018-01-07 21:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.9410,CA-2016-112697,Second Class,delivered,2018-06-13 16:07:00,2018-06-13 16:39,...,Furniture,Tables,2016-11-15,VANS,None,1.900000e+11,None,0,4,2018-06-13 16:07:00
496,336,105.4200,2,0.000,51.6558,CA-2015-137946,Second Class,delivered,2018-03-16 10:34:00,2018-03-17 02:45,...,Office Supplies,Envelopes,2015-11-16,None,S,8.880000e+11,None,4,1,2018-03-16 10:34:00
497,5569,119.6160,8,0.200,40.3704,CA-2017-157966,Same Day,delivered,2018-03-08 15:59:00,2018-03-08 16:30,...,Office Supplies,Binders,2016-02-21,None,None,7.130000e+11,None,3,4,2018-03-08 15:59:00
498,8821,255.7600,4,0.000,81.8432,CA-2017-100622,Standard Class,delivered,2018-03-01 21:16:00,2018-03-01 21:30,...,Furniture,Furnishings,2017-01-27,Franco Sarto,"8.5,9.5,7.5,9,8,11",7.200000e+11,None,0,18,2018-03-01 21:16:00
499,2898,241.5680,2,0.200,18.1176,US-2016-164630,Standard Class,delivered,2018-03-15 18:39:00,2018-03-15 18:50,...,Furniture,Chairs,2016-03-15,None,None,8.820000e+11,None,4,4,2018-03-15 18:39:00

In [165]:
df1.replace(np.nan, None, inplace=True)
df1

,id,sales_amt,qty,discount,profit_amt,order.order_id,order.ship_mode,order.order_status,order.order_purchase_date,order.order_approved_at,...,product.category,product.sub_category,product.date_added,product.manufacturer,product.sizes,product.upc,product.weight,product.product_photos_qty,item_count,order_purchase_date
0,4102,2.0000,0,72.948,None,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,...,Office Supplies,Appliances,2017-01-17,None,7,826000000000.0,None,0,1,2017-11-24 15:58:00
1,2698,261.9600,2,0.000,41.9136,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,...,Furniture,Bookcases,2016-04-01,None,9,640000000000.0,None,4,1,2018-07-11 19:46:00
2,6827,731.9400,3,0.000,219.582,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,...,Furniture,Chairs,2016-11-04,None,"10,7,6,9,8",664000000000.0,None,2,10,2018-05-15 20:24:00
3,8154,14.6200,2,0.000,6.8714,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,...,Office Supplies,Labels,2016-08-01,None,11.5,887000000000.0,None,3,4,2018-02-28 13:40:00
4,2624,957.5775,5,0.450,-383.031,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,...,Furniture,Tables,2016-11-15,None,"10.5,10,8.5,8,13",888000000000.0,None,0,16,2018-01-07 21:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,CA-2016-112697,Second Class,delivered,2018-06-13 16:07:00,2018-06-13 16:39,...,Furniture,Tables,2016-11-15,VANS,None,190000000000.0,None,0,4,2018-06-13 16:07:00
496,336,105.4200,2,0.000,51.6558,CA-2015-137946,Second Class,delivered,2018-03-16 10:34:00,2018-03-17 02:45,...,Office Supplies,Envelopes,2015-11-16,None,S,888000000000.0,None,4,1,2018-03-16 10:34:00
497,5569,119.6160,8,0.200,40.3704,CA-2017-157966,Same Day,delivered,2018-03-08 15:59:00,2018-03-08 16:30,...,Office Supplies,Binders,2016-02-21,None,None,713000000000.0,None,3,4,2018-03-08 15:59:00
498,8821,255.7600,4,0.000,81.8432,CA-2017-100622,Standard Class,delivered,2018-03-01 21:16:00,2018-03-01 21:30,...,Furniture,Furnishings,2017-01-27,Franco Sarto,"8.5,9.5,7.5,9,8,11",720000000000.0,None,0,18,2018-03-01 21:16:00
499,2898,241.5680,2,0.200,18.1176,US-2016-164630,Standard Class,delivered,2018-03-15 18:39:00,2018-03-15 18:50,...,Furniture,Chairs,2016-03-15,None,None,882000000000.0,None,4,4,2018-03-15 18:39:00

In [172]:
df1['order.order_purchase_date'] = pd.to_datetime(df1['order.order_purchase_date'])
df1['order.order_delivered_customer_date'] = pd.to_datetime(df1['order.order_delivered_customer_date'])
df1['Delay'] = (df1['order.order_delivered_customer_date'] - df1['order.order_purchase_date']).dt.days
delay_counts = df1[df1['Delay'] > 4].groupby('order.vendor.VendorID').size()

In [173]:
delay_counts

order.vendor.VendorID
VEN01    79
VEN02    95
VEN03    90
VEN04    76
VEN05    91
dtype: int64